@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.wrapper__howToOrder {
  position: relative;
  width: 80vw;
  margin: auto;
  margin-bottom: 0;
  padding-top: 40px;
}

.title__main {
  font-size: 64px;
  font-size: clamp(30px, 10vw, 64px);
  font-weight: 600;
  color: #fff;
  margin: auto;
  width: fit-content;
  display: block;
}

/* ordercard first */

.ordercard__first h3 {
  font-size: clamp(30px, 5.5vw, 50px);
  color: #fff;
  margin-left: 13%;
  font-family: 'Roboto Slab', serif;
  text-wrap: nowrap;
  position: relative;
  margin-top: 20px;
}

.ordercard__first h3::after {
  content: '01';
  font-size: clamp(55px, 10vw, 100px);
  bottom: -0.3rem;
  left: -2.8rem;
  position: absolute;
  opacity: 0.1;
  color: #b4b4b4;
}

.ordercard__form {
  z-index: 2;
  position: relative;
  margin-left: 10%;
  width: 520px;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

.ordercard__form input {
  width: 100%;
  height: 50px;
  padding-inline: 20px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
}

.ordercard__form h4 {
  color: #ffffff;
  margin-left: 10px;
}

.ordercard__form h5 {
  color: #074372;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.ordercard__form input::placeholder {
  color: #074372;
  font-size: clamp(14px, 1vw, 16px);
}

.ordercard__form button {
  background-color: #41729f;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s;
  margin: auto;
  display: block;
}

.ordercard__form button:hover {
  transform: scale(0.95);
}

.ordercard__form button img {
  margin-left: 6px;
  width: 24 px;
  height: 24px;
}

.background__park {
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 40%;
  border-radius: 26px;
  filter: blur(8px);
  transform: scale(1.4);
}

/* ordercard second */

.ordercard__second_wrapper {
  width: fit-content;
}

.ordercard__second {
  justify-content: end;
  display: flex;
  margin-right: 10%;
  position: relative;
  z-index: 2;
}

.ordercard__second h3 {
  margin-left: 40px;
  font-size: clamp(30px, 5.5vw, 50px);
  color: #fff;
  width: fit-content;
  font-family: 'Roboto Slab', serif;
  text-wrap: nowrap;
  position: relative;
  margin-top: 70px;
}

.ordercard__second h3::after {
  content: '02';
  font-size: clamp(55px, 10vw, 100px);
  bottom: -0.3rem;
  left: -2.8rem;
  position: absolute;
  opacity: 0.3;
  color: #b4b4b4;
}

.ordercard__next {
  width: 520px;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

.ordercard__inner {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
}

.ordercard__next h4 {
  color: #074372;
  /* font-size: 36px; */
  font-size: clamp(16px, 4vw, 22px);
}

.ordercard__next img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

@media screen and (max-width: 650px) {
  .ordercard__form {
    width: 80vw;
    margin: auto;
  }
  .ordercard__second {
    margin: auto;
    width: 80vw;
  }
  .ordercard__next {
    width: 80vw;
  }
  .ordercard__next {
    padding: 20px 20px;
  }
  .ordercard__next img {
    width: 60px;
    height: 60px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 440px) {
  .ordercard__form {
    padding: 20px 20px;
  }
  .ordercard__form input::placeholder {
    font-size: 12px;
  }
  .ordercard__first h3 {
    margin-left: 4%;
  }
}
