.wrapper__AboutUs {
  width: 80vw;
  margin: auto;
  padding-top: 100px;
}

.row__cards_first {
  display: flex;
  gap: 15px;
  width: 100%;
}

.row__cards_second {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  width: 100%;
}

.row__cards_third {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  width: 100%;
}

.card {
  width: 50%;
  border-radius: 20px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.4s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.card:hover span {
  color: #274472;
}

.card:hover img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(10%) saturate(3250%)
    hue-rotate(178deg) brightness(98%) contrast(95%);
}

.card__title {
  display: flex;
  align-items: center;
}

.card img {
  width: 52px;
}

.card span {
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  font-size: clamp(20px, 3vw, 40px);
  width: fit-content;
}

.card h2 {
  color: #274472;
  font-weight: 500;
  font-size: 20px;
  font-size: clamp(18px, 2.6vw, 30px);
}

.regionbox {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.regionbox h1 {
  font-size: clamp(18px, 4vw, 26px);
  line-height: 170%;
  font-weight: 700;
  color: #274472;
}

.card__advantages {
  width: fit-content;
  margin: auto;
  padding-inline: 16px;
}

.card__advantages h1 {
  font-weight: 700;
  color: #274472;
  font-size: clamp(20px, 3vw, 30px);
}

.advantages__row {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.advantages__row h2 {
  margin-bottom: 15px;
}
/* response */

@media screen and (max-width: 900px) {
  .row__cards_first {
    display: block;
  }
  .row__cards_second {
    display: block;
  }
  .card {
    width: 100%;
    margin-bottom: 15px;
  }
  .advantages__row {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .wrapper__AboutUs {
    padding-top: 40px;
  }
}
